body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: radial-gradient(circle, #e0f7fa 0%, #80deea 100%);
    font-family: 'Poppins', sans-serif;
    color: #444;
}

.quote-container {
    background-color: white;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.quote-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

h1 {
    font-size: 28px;
    color: #333;
    font-style: italic;
    line-height: 1.8;
    letter-spacing: 1px;
    margin-bottom: 25px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.links-container ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.links-container li {
    margin: 15px 0;
}

.links-container a {
    text-decoration: none;
    font-size: 20px;
    color: #007BFF;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 2px 4px 15px rgba(0, 123, 255, 0.1);
}

.links-container a:hover {
    color: white;
    background-color: #007BFF;
    box-shadow: 2px 4px 20px rgba(0, 123, 255, 0.3);
    transform: translateY(-5px);
}

.quote-container:before {
    content: '“';
    font-size: 100px;
    color: rgba(0, 0, 0, 0.05);
    position: absolute;
    left: 10px;
    top: -40px;
}

.quote-container:after {
    content: '”';
    font-size: 100px;
    color: rgba(0, 0, 0, 0.05);
    position: absolute;
    right: 10px;
    bottom: -40px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 22px;
    }

    .quote-container {
        padding: 35px;
        max-width: 90%;
    }

    .links-container a {
        font-size: 18px;
    }
}
